@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./fonts.css');

body {
  font-family: 'Jakarta', Arial, Helvetica, sans-serif;
}

audio {
  filter: sepia(20%) saturate(70%) grayscale(1) contrast(90%) invert(100%);
}

.content::-webkit-scrollbar {
  display: none;
}

@keyframes beforeLinkAnimate {
  0% {
    box-shadow: 40px 0px 40px 80px rgb(58 130 246 / 0%);
  }

  100% {
    box-shadow: 100px 0px 50px 100px rgb(58 130 246 / 25%);
  }
}