
.input {
  padding: 29px 15px 14px 15px;
  border: 1px solid #4b4b4b;
  outline: none;
  border-radius: 8px;
  font-size: 14px;
  transition: border .5s;
  width: 100%;
  background: transparent;
  color: white;
}

.input:focus {
  /* border: 1px solid #fff; */
}

.label {
  color: #a4a4a4;
  cursor: pointer;
  position: absolute;
  pointer-events: none;
  background-size: 100px;
  font-size: 14px;
  padding: 0 4px;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: transform .3s, color .3s, font-size .3s;
}

.input:not(:placeholder-shown) + .label,
.input:focus + .label{ 
  transform: translateY(-23px);
  transform-origin: left;
  color: #22c55e;
  font-size: 12px;
}