.icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 18px;
  height: 22px;
}

.icon span {
  transition: all;
}

.icon .bar {
  width: 3px;
  height: 100%;
  background-color: #60a5fa;
  border-radius: 3px;
  content: '';
}

@keyframes bounce {
  10% {
    transform: scaleY(0.3); /* start by scaling to 30% */
  }

  30% {
    transform: scaleY(1); /* scale up to 100% */
  }

  60% {
    transform: scaleY(0.5); /* scale down to 50% */
  }

  80% {
    transform: scaleY(0.75); /* scale up to 75% */
  }

  100% {
    transform: scaleY(0.6); /* scale down to 60% */
  }
}

.bar {
  width: 3px;
  height: 100%;
  background-color: #60a5fa;
  border-radius: 3px;
  animation: bounce 2.2s ease infinite alternate;
  content: '';
}

.bar:nth-of-type(2) {
    animation-delay: -2.2s; /* Start at the end of animation */
}

.bar:nth-of-type(3) {
  animation-delay: -3.7s; /* Start mid-way of return of animation */
}

.bar:nth-of-type(4) {
  animation-delay: -1.1s; /* Start mid-way of return of animation */
}

.icon .barS {
  width: 3px;
  height: 6px;
  background-color: #888;
  border-radius: 3px;
  content: '';
  animation: bounceS 1.1s linear ;
}

.barS:nth-of-type(2) {
  animation-delay: -.3s; /* Start at the end of animation */
}

.barS:nth-of-type(3) {
animation-delay: .3s; /* Start mid-way of return of animation */
}

.barS:nth-of-type(4) {
animation-delay: -.5s; /* Start mid-way of return of animation */
}

@keyframes bounceS {
  0% {
    height: 15px;
  }


  100% {
    height: 6px;
  }
}